/* CONTENT TABLE *
  1-Positioning
  2.- Box Model
  3.-Typography
  4.-Visuals
  5.-Others

*/
/* VAriables */
:root{
    --font-sans:'DM Sans', sans-serif;
    --font-inter:'Inter', sans-serif;
    --size-300:300;
    --size-400:400;
    --size-500:500;
    --size-700:700;
    --background:#E5E5E5;
    --linear-gradient:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orage:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#FFE9D5;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-blackplus1:#282623;
    --gray:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
    --black:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
    font-family: "DM Sans";
    /* color:var(--just-white); */
    color:var(--black);
}

header{
  position: relative;
  width: 100%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 320px;
  height: 334px;
  /* background-color: var(--linear-gradient); */
  background: var(--linear-gradient);
}

header img{
  width: 158px;
  height: 24px;
  margin-top: 60px;
}

.header__title-container{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin-top: 50px;
  font-size: 0.8rem;
}

.header__title-container h1{
  font-size:2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p{
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button{
  position: absolute;
  top: 275px;
  left: calc(50% - 118px);
  line-height: 10px;
  width: 229px;
  height: 44px;
  display: block;

  padding: 15px;
  margin-top: 35px;

  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
  border:none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.header__title-container span{
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/tog-arrow.png");
}


/*  */
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container{
  width: 100%;
  height:auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container__title{
  width: 100%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .bgImg{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;

  background-image: url("./assets/imgs/bitcoin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.main-exchange-container h2{
  margin:0 auto;
  width:80%;
  text-align:center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color:var(--black);
}

.main-exchange-container p{
  margin:0 auto;
  width:90%;
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;

}
.main-tables-container{
  width: 60%;
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto;
}
.main-tables-container h2{
  /* color:var(--soft-blue); */
  color: purple;
  text-align: left;
  width: 60%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

/* .main-tables-container__comisions{
  margin:0 auto;
  width:60%;
  height:auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:repeat(4,1fr);
  grid-gap: 2px 2px; 
  background-color:black;
  border-radius:5px;

}

.table-container__row{

} */

.main-currency-table{
  margin:0 auto;
  width:70%;
  min-width:235px;
  max-width:500px;
  height:360px;
  font-family:var(--font-inter)
}

/* Le ponemos mas especificidad llamando al padre
 para que no haya conflicto con la otra tabla parecida a esta */
.main-currency-table .currency-table__title{
  margin-bottom:15px;
  font-size:1.8rem;
  font-weight:bold;
  line-height:1.3rem;
  color:var(--bitcoin-orage);
}

.currency-table__container{
  width:100%;
  min-width:230px;
  max-width:300px;
  height:150px;
  margin:0 auto;
}

.currency-table__container table{
  margin:0 auto;
  width:90%;
  height:100%;
  margin-bottom:15px;
}

.currency-table__container td{
  width:50%;
  font-size:1.6rem;
  font-weight:500;
  line-height:1.9rem;
  color:var(--gray);
  background-color:var(--just-white);
}

.table--top-right{
  border-radius:0px 10px 0px 0px;
}
.table--top-left{
  border-radius:10px 0px 0px 0px;
}
.table--bottom-left{
  border-radius:0px 0px 0px 10px;
}
.table--bottom-right{
  border-radius:0px 0px 10px 0px;
}

.currency-table__container .table--right{
  color:var(--warm-black); 
  font-size:1.4rem;
  font-weight:normal;
  line-height:1.7rem;
  color:#757575;
}
.currency-table__container .table--left{
  padding-left:10px;
  text-align:left;
}

.currency-table__container .table--right .down{
  display:inline-block;
  height:8px;
  width:15px;
  margin-left:3px;
  background-image:url("./assets/icons/trending-down1.svg");
  background-repeat:no-repeat;
  background-position:center;
}
.currency-table__container .table--right .up{
  display:inline-block;
  height:8px;
  width:15px;
  margin-left:3px;
  background-image:url("./assets/icons/trending-up.svg");
  background-repeat:no-repeat;
  background-position:center;
}

.currency-table__date{
  margin:0 auto;
  width:20%;
  height:30px;
  min-width:200px;
  max-width:500px;
  border-radius:5px;
  background-color:var(--background);
}

.currency-table__date p{
  font-size:1.2rem;
  font-weight:100;
  margin-bottom:0;
  color:var(--black);
  line-height:3rem;
}

.main-currency-table .currency-table__date span{
  font-weight:700;
}